<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Anfrage versendet
  </div>
  <div class="image content">
    <div class="description">
      <div class="ui header">Die Registrierung war erfolgreich.</div>
      <p>Ihr Wunsch zur Registrierung für die Domla/2 Services wurde erfolgreich verarbeitet.</p>
      <p>Sie erhalten in Kürze eine Email mit Anweisungen zur Anmeldung von uns.</p>
      <br>
      <p>Bitte überprüfen Sie gelegentlich ihren Email-Eingang.</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      OK
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
