<form [formGroup]="editForm" class="ui form">
  <h5 class="ui dividing header">Objektdaten</h5>
  <div class="fields">
  <div class="required field">
    <label>Schlüssel:</label>
    <input formControlName="UserKey" type="text">
    <div *ngIf="errors.AdminUnitUserKey" class="ui negative message">
      {{ errors.AdminUnitUserKey }}
    </div>
  </div>
    <div class="required fifteen wide field">
      <label>Bezeichnung:</label>
      <input formControlName="Title" type="text">
      <div *ngIf="errors.AdminUnitTitle" class="ui negative message">
        {{ errors.AdminUnitTitle }}
      </div>
    </div>
    <div class="fifteen wide field">
      <label>Baujahr:</label>
      <input  type="date"  formControlName="YearOfConstruction" useValueAsDate>
    </div>
  </div>
  <div class="fields">
    <div class="required field">
      <label>Eingänge:</label>
      <div formArrayName="Entrances" >
        <div *ngFor="let control of entrances.controls; index as i; last as l"
             [formGroupName]="i"
             class = "twenty-one fields">
            <div class="one wide field">
              <input formControlName="Title" placeholder="{{i+1}} Eingang">
            </div>
              <ui-address
                [AddressFormGroup] = "editForm.get(['Entrances',i,'Address' ])"
                [CountryFormGroup] = "editForm.get(['Entrances',i, 'Address','Country'])"
                [Iso2Control] = "editForm.get(['Entrances',i,'Address','Country','Iso2'])"
                [CountryDefaultIso2]="CountryDefaultIso2"
                [CityControl] = "editForm.get(['Entrances',i,'Address','City'])"
                [StreetControl] = "editForm.get(['Entrances',i,'Address','Street'])"
                [NumberControl] = "editForm.get(['Entrances',i,'Address','Number'])"
                [PostalCodeControl] = "editForm.get(['Entrances', i, 'Address', 'PostalCode'])">

              </ui-address>
        <div class="one wide field" *ngIf="l">
            <button (click)="addEntrancesControl()" class="ui large button" type="button"> + </button>
        </div>
          <div class="one wide field" *ngIf="l && i!==0">
            <button (click)="removeEntrancesControl(i)" class="ui large button" type="button"> - </button>
          </div>
      </div>
        <div *ngIf="errors.EntranceTitle" class="ui negative message">
          {{ errors.EntranceTitle }}
        </div>
        <div *ngIf="errors.AddressPostalCode" class="ui negative message">
          {{ errors.AddressPostalCode }}
        </div>
        <div *ngIf="errors.AddressCity" class="ui negative message">
          {{ errors.AddressCity }}
        </div>
        <div *ngIf="errors.AddressStreet" class="ui negative message">
          {{ errors.AddressStreet }}
        </div>
        <div *ngIf="errors.AddressNumber" class="ui negative message">
          {{ errors.AddressNumber }}
        </div>
    </div>
   </div>
  </div>
</form>
