<form [formGroup]="EditForm" xmlns="http://www.w3.org/1999/html">
<mat-tab-group>
  <mat-tab label="Stammdaten">
    <ng-template matTabContent>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 5em">
        <div fxFlex="7%">
            <mat-form-field  style="width: 100%">
              <mat-label>Schlüssel</mat-label>
              <input matInput formControlName="UserKey" placeholder="Bezeichnung"  >
                <mat-error *ngIf="Errors?.AdminUnitUserKey" >
                  {{ Errors?.AdminUnitUserKey }}
                </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="46%">
            <mat-form-field style="width: 100%">
              <mat-label>Bezeichnung</mat-label>
              <input matInput formControlName="Title" type="text">
                <mat-error *ngIf="Errors?.AdminUnitTitle" >
                  {{ Errors?.AdminUnitTitle }}
                </mat-error>
            </mat-form-field>
          </div>
        <div fxFlex="33%">
            <ui-datepicker [YearOfConstruction]="EditForm.get(['YearOfConstruction'])" ></ui-datepicker>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Eingänge">
    <ng-template matTabContent>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 5em">
         <div formArrayName="Entrances" fx="100%">
           <div *ngFor="let control of Entrances.controls; index as i; last as l"
             [formGroupName]="i"
             class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
              <div fxFlex="6%">
                <mat-form-field style="width: 100%">
                  <mat-label>Bezeichnung</mat-label>
                  <input matInput formControlName="Title" placeholder="{{i+1}} Eingang" >
                </mat-form-field>
              </div>
              <div fxFlex="88%">
                <ui-address
                  [AddressFormGroup] = "EditForm.get(['Entrances',i,'Address' ])"
                  [CountryFormGroup] = "EditForm.get(['Entrances',i, 'Address','Country'])"
                  [Iso2Control] = "EditForm.get(['Entrances',i,'Address','Country','Iso2'])"
                  [CountryDefaultIso2]="CountryDefaultIso2"
                  [CityControl] = "EditForm.get(['Entrances',i,'Address','City'])"
                  [StreetControl] = "EditForm.get(['Entrances',i,'Address','Street'])"
                  [NumberControl] = "EditForm.get(['Entrances',i,'Address','Number'])"
                  [PostalCodeControl] = "EditForm.get(['Entrances', i, 'Address', 'PostalCode'])">
                </ui-address>
              </div>
             <div fxLayout="row" fxLayoutWrap fxLayoutGap="2%" class="container"  fxLayoutAlign="left" fxFlex="10%" fxLayout.xs="column">
              <div *ngIf="l" fxFlex="50%">
                <button  (click)="addEntrancesControl()" style="width: 100%; margin-top: 0.25em;" type="button" class="ui button"> + </button>
              </div>
              <div *ngIf="Entrances.length!==1" fxFlex="50%">
                <button  (click)="removeEntrancesControl(i)" style="width: 100%; margin-top: 0.25em;" type="button" class="ui button"> - </button>
              </div>
             </div>
           </div>
           <div *ngIf="Errors?.EntranceTitle" class="ui negative message">
             {{ Errors?.EntranceTitle }}
           </div>
           <div *ngIf="Errors?.AddressPostalCode" class="ui negative message">
             {{ Errors?.AddressPostalCode }}
           </div>
           <div *ngIf="Errors?.AddressCity" class="ui negative message">
             {{ Errors?.AddressCity }}
           </div>
           <div *ngIf="Errors?.AddressStreet" class="ui negative message">
             {{ Errors?.AddressStreet }}
           </div>
           <div *ngIf="Errors?.AddressNumber" class="ui negative message">
             {{ Errors?.AddressNumber }}
           </div>
         </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Zusatzeigenschaften">
    <ng-template matTabContent>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 5em">
        <div formArrayName="AdministrationUnitProperties" fx="100%" *ngIf = "EditForm.get(['AdministrationUnitProperties']) !== null">
          <div *ngFor="let control of Properties.controls; index as i; last as l"
               [formGroupName]="i"
               class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
            <ui-administration-unit-property class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left"
              [Value] = "EditForm.get(['AdministrationUnitProperties',i,'Value' ])"
              [Title] = "EditForm.get(['AdministrationUnitProperties',i,'Title' ])"
              [Tag] = "EditForm.get(['AdministrationUnitProperties',i,'Value', 'Tag' ])"
              [Raw] = "EditForm.get(['AdministrationUnitProperties',i,'Value', 'Raw' ])"
              [RawNumber] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber'])"
              [RawNumberUnit] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber', '_unit'])"
              [RawNumberValue] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber', '_value'])"
              [RawNumberDecimalPlaces] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber', '_decimalPlaces'])"
              [Description] = "EditForm.get(['AdministrationUnitProperties',i,'Description' ])"
              [ArrayLastElement] = "l"
              (addPropertiesControl) = "addPropertiesControl()"
              (removePropertiesControl) = "removePropertiesControl(i)"
              (selectedValueTag) = "selectedValueTag($event, i)">
            </ui-administration-unit-property>
          </div>
          <div *ngIf="Errors?.PropertyTitle" class="ui negative message">
            {{ Errors?.PropertyTitle }}
          </div>
          <div *ngIf="Errors?.PropertyValueTag" class="ui negative message">
            {{ Errors?.PropertyValueTag }}
          </div>
          <div *ngIf="Errors?.PropertyValueRaw" class="ui negative message">
            {{ Errors?.PropertyValueRaw }}
          </div>
        </div>
      </div>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" fxFlex="50">
        <div fxFlex="50" *ngIf ="IsUpdatingAdminUnit && !ShowPropertiesForAllAdministrationUnits">
          <button
            mat-raised-button
            (click)="onShowPropertiesForAllAdministrationUnits()">Zusatzfelder für alle Objekte anlegen
          </button>
        </div>
        <div fxFlex="50" *ngIf ="IsUpdatingAdminUnit && ShowPropertiesForAllAdministrationUnits">
          <button
            mat-raised-button
            (click)="onShowPropertiesForAllAdministrationUnits()">Zusatzfelder für alle Objekte verbergen
          </button>
        </div>
        <div fxFlex="50">
           <button mat-raised-button (click)="addPropertiesArray()"  *ngIf = "EditForm.get(['AdministrationUnitProperties']) === null">Zusaztfelder für dieses Objekt anlegen</button>
        </div>
      </div>
      <div style="margin-top: 2em" *ngIf = "ShowPropertiesForAllAdministrationUnits">
        <ui-administration-unit-feature-create
          (refreshProperty)="refreshProperties()">
        </ui-administration-unit-feature-create>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bereits vorhandene Zusatzfelder aller Objekte anzeigen
              </mat-panel-title>
            </mat-expansion-panel-header>
                <ui-administration-unit-features-list>
                </ui-administration-unit-features-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
</form>


