<div>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="userKey">
      <mat-header-cell *matHeaderCellDef> Schlüssel </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userKey}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Bezeichnung </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Land </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.entrances[0]?.address?.country?.iso2}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="postalCode">
      <mat-header-cell *matHeaderCellDef> PLZ </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.entrances[0]?.address?.postalCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> Stadt </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.entrances[0]?.address?.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="street">
      <mat-header-cell *matHeaderCellDef> Straße </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.entrances[0]?.address?.street}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef> Nr. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.entrances[0]?.address?.number}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
