<mat-dialog-content>
  <div>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="userKey">
        <mat-header-cell *matHeaderCellDef> Schlüssel </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.UserKey}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Bezeichnung </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef> Land </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Entrances[0]?.Address?.Country?.Iso2}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="postalCode">
        <mat-header-cell *matHeaderCellDef> PLZ </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Entrances[0]?.Address?.PostalCode}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef> Stadt </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Entrances[0]?.Address?.City}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="street">
        <mat-header-cell *matHeaderCellDef> Straße </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Entrances[0]?.Address?.Street}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef> Nr. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Entrances[0]?.Address?.Number}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (click)="selection.toggle(row)"
               [class.selected] = "selection.isSelected(row)">
      </mat-row>
    </mat-table>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Abbrechen</button>
  <button mat-raised-button [mat-dialog-close]="selection.selected" cdkFocusInitial>Ok</button>
</div>
