<am-loader></am-loader>
<mat-toolbar class="navigation-header">{{ title }} Administration</mat-toolbar>
<mat-sidenav-container class="navigation-container">
    <mat-sidenav position="end" #sidenav mode="side" opened="true" class="navigation-sidenav">
    <div class="ui visible thin sidebar right vertical menu">
      <div class="ui container">
        <div class="item">
          <div class="header">Anwender</div>
          <div class="menu">
            <a class="item" routerLink="/registrations" routerLinkActive="active">Registrierungen</a>
            <a class="item">Nutzer</a>
          </div>
        </div>
        <div class="item">
          <div class="header">System</div>
          <div class="menu">
            <a class="item">Umleitungen</a>
            <a class="item">Aktivitäten</a>
            <a class="item">Dienstadressen</a>
          </div>
        </div>
        <div class="item">
          <div class="header">Konto</div>
          <div class="menu">
            <a class="item">Einstellungen</a>
            <a class="active item" (click)="logout()">Abmelden</a>
          </div>
        </div>
      </div>
    </div>
    </mat-sidenav>
    <mat-sidenav-content class="navigation-content">
      <router-outlet>
      </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="navigation-footer">
  <button *ngFor="let item of MenuButtons" mat-button>{{ item }}</button>
</mat-toolbar>
