<form [formGroup]="EditForm" xmlns="http://www.w3.org/1999/html">
  <mat-toolbar>Stammdaten Object</mat-toolbar>
  <mat-divider></mat-divider>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 3em">
    <div fxFlex="7%">
      <mat-form-field  style="width: 100%">
        <mat-label>Schlüssel</mat-label>
        <input matInput formControlName="UserKey" placeholder="Bezeichnung"  >
      </mat-form-field>
      <mat-error *ngIf="Errors?.AdminUnitUserKeyrequired" >
        {{ Errors?.AdminUnitUserKeyrequired }}
      </mat-error>
      <mat-error *ngIf="Errors?.AdminUnitUserKeymaxlength" >
        {{ Errors?.AdminUnitUserKeymaxlength }}
      </mat-error>
    </div>
    <div fxFlex="46%">
      <mat-form-field style="width: 100%">
        <mat-label>Bezeichnung</mat-label>
        <input matInput formControlName="Title" type="text">
      </mat-form-field>
      <mat-error *ngIf="Errors?.AdminUnitTitlerequired" >
        {{ Errors?.AdminUnitTitlerequired }}
      </mat-error>
      <mat-error *ngIf="Errors?.AdminUnitTitlemaxlength" >
        {{ Errors?.AdminUnitTitlemaxlength }}
      </mat-error>
    </div>
    <div fxFlex="33%">
      <ui-datepicker [YearOfConstruction]="EditForm.get(['YearOfConstruction'])" ></ui-datepicker>
    </div>
  </div>
<mat-tab-group style="margin-top: 3em">
  <mat-tab label="Eingänge">
    <ng-template matTabContent>
      <ui-entrances-list
        [Entrances]="AdminUnit.Entrances"
        (IsModified) = "modifiedChildComponent()">
      </ui-entrances-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Verwaltungseinheiten">
    <ng-template matTabContent>
      <ui-subinit-list-view
        [SubUnits] = "AdminUnit.SubUnits"
        [Entrances] = "AdminUnit.Entrances"
        (IsModified) = "modifiedChildComponent()">
      </ui-subinit-list-view>
    </ng-template>
  </mat-tab>
  <mat-tab label="Zusatzeigenschaften">
    <ng-template matTabContent>
            <ui-administration-unit-property-list
                [AdministrationUnitProperties] = "AdminUnit.AdministrationUnitProperties"
                (IsModified) = "modifiedChildComponent()">
            </ui-administration-unit-property-list>

      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" fxFlex="50">
        <div fxFlex="50" *ngIf ="IsUpdatingAdminUnit && !ShowPropertiesForAllAdministrationUnits">
          <button
            mat-raised-button
            (click)="onShowPropertiesForAllAdministrationUnits()">Zusatzfelder für alle/selektierte Objekte anlegen
          </button>
        </div>
        <div fxFlex="50" *ngIf ="IsUpdatingAdminUnit && ShowPropertiesForAllAdministrationUnits">
          <button
            mat-raised-button
            (click)="onShowPropertiesForAllAdministrationUnits()">Zusatzfelder für alle/selektierte Objekte verbergen
          </button>
        </div>
      </div>
      <div style="margin-top: 2em" *ngIf = "ShowPropertiesForAllAdministrationUnits">
        <ui-administration-unit-feature-create
          (refreshProperty)="refreshProperties()">
        </ui-administration-unit-feature-create>
        <mat-accordion>
          <mat-expansion-panel id="AdmiUnitsFeaturesPanel">
            <mat-expansion-panel-header>
              <mat-panel-title
                    matTooltip="Ein neu angelegtes Objekt wird automatisch mit diesen Zusatzfeldern angereichert"
                    [matTooltipPosition]="'above'">
                Vorhandene Zusatzfelder aller Objekte
              </mat-panel-title>
            </mat-expansion-panel-header>
                <ui-administration-unit-features-list-view>
                </ui-administration-unit-features-list-view>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
</form>


