<form [formGroup]="EditForm" xmlns="http://www.w3.org/1999/html">
  <mat-toolbar>Stammdaten Object</mat-toolbar>
  <mat-divider></mat-divider>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 3em">
    <div fxFlex="7%">
      <mat-form-field  style="width: 100%">
        <mat-label>Schlüssel</mat-label>
        <input matInput formControlName="UserKey" placeholder="Bezeichnung"  >
      </mat-form-field>
      <mat-error *ngIf="Errors?.AdminUnitUserKeyrequired" >
        {{ Errors?.AdminUnitUserKeyrequired }}
      </mat-error>
      <mat-error *ngIf="Errors?.AdminUnitUserKeymaxlength" >
        {{ Errors?.AdminUnitUserKeymaxlength }}
      </mat-error>
    </div>
    <div fxFlex="46%">
      <mat-form-field style="width: 100%">
        <mat-label>Bezeichnung</mat-label>
        <input matInput formControlName="Title" type="text">
      </mat-form-field>
      <mat-error *ngIf="Errors?.AdminUnitTitlerequired" >
        {{ Errors?.AdminUnitTitlerequired }}
      </mat-error>
      <mat-error *ngIf="Errors?.AdminUnitTitlemaxlength" >
        {{ Errors?.AdminUnitTitlemaxlength }}
      </mat-error>
    </div>
    <div fxFlex="33%">
      <ui-datepicker [YearOfConstruction]="EditForm.get(['YearOfConstruction'])" ></ui-datepicker>
    </div>
  </div>
<mat-tab-group style="margin-top: 3em">
  <mat-tab label="Eingänge">
    <ng-template matTabContent>
      <ui-entrances-list
        [entrances] = "AdminUnit.Entrances">
      </ui-entrances-list>
    </ng-template>
  </mat-tab>
  <mat-tab label="Verwaltungseinheiten">
    <ng-template matTabContent>
      <ui-subinit-list-view
        [SubUnits] = "SubUnits"
        [Entrances] = "AdminUnit.Entrances">
      </ui-subinit-list-view>
    </ng-template>
  </mat-tab>
  <mat-tab label="Zusatzeigenschaften">
    <ng-template matTabContent>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 3em">
        <div formArrayName="AdministrationUnitProperties" fx="100%" *ngIf = "EditForm.get(['AdministrationUnitProperties']) !== null">
          <div *ngFor="let control of Properties.controls; index as i; last as l"
               [formGroupName]="i"
               class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
            <ui-administration-unit-property class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left"
              [Value] = "EditForm.get(['AdministrationUnitProperties',i,'Value' ])"
              [Title] = "EditForm.get(['AdministrationUnitProperties',i,'Title' ])"
              [Tag] = "EditForm.get(['AdministrationUnitProperties',i,'Value', 'Tag' ])"
              [Raw] = "EditForm.get(['AdministrationUnitProperties',i,'Value', 'Raw' ])"
              [RawNumber] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber'])"
              [RawNumberUnit] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber', '_unit'])"
              [RawNumberValue] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber', '_value'])"
              [RawNumberDecimalPlaces] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber', '_decimalPlaces'])"
              [Description] = "EditForm.get(['AdministrationUnitProperties',i,'Description' ])"
              [ArrayLastElement] = "l"
              (addPropertiesControl) = "addPropertiesControl()"
              (removePropertiesControl) = "removePropertiesControl(i)"
              (selectedValueTag) = "selectedValueTag($event, i)">
            </ui-administration-unit-property>
          </div>
          <div *ngIf="Errors?.PropertyTitlerequired" class="ui negative message">
            {{ Errors?.PropertyTitlerequired }}
          </div>
          <div *ngIf="Errors?.PropertyValueTagrequired" class="ui negative message">
            {{ Errors?.PropertyValueTagrequired }}
          </div>
          <div *ngIf="Errors?.PropertyValueRawrequired" class="ui negative message">
            {{ Errors?.PropertyValueRawrequired }}
          </div>
        </div>
      </div>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" fxFlex="50">
        <div fxFlex="50" *ngIf ="IsUpdatingAdminUnit && !ShowPropertiesForAllAdministrationUnits">
          <button
            mat-raised-button
            (click)="onShowPropertiesForAllAdministrationUnits()">Zusatzfelder für alle/selektierte Objekte anlegen
          </button>
        </div>
        <div fxFlex="50" *ngIf ="IsUpdatingAdminUnit && ShowPropertiesForAllAdministrationUnits">
          <button
            mat-raised-button
            (click)="onShowPropertiesForAllAdministrationUnits()">Zusatzfelder für alle/selektierte Objekte verbergen
          </button>
        </div>
        <div fxFlex="50">
           <button mat-raised-button (click)="addPropertiesArray()"  *ngIf = "EditForm.get(['AdministrationUnitProperties']) === null">Zusaztfelder für dieses Objekt anlegen</button>
        </div>
      </div>
      <div style="margin-top: 2em" *ngIf = "ShowPropertiesForAllAdministrationUnits">
        <ui-administration-unit-feature-create
          (refreshProperty)="refreshProperties()">
        </ui-administration-unit-feature-create>
        <mat-accordion>
          <mat-expansion-panel id="AdmiUnitsFeaturesPanel">
            <mat-expansion-panel-header>
              <mat-panel-title
                    matTooltip="Ein neu angelegtes Objekt wird automatisch mit diesen Zusatzfeldern angereichert"
                    [matTooltipPosition]="'above'">
                Vorhandene Zusatzfelder aller Objekte
              </mat-panel-title>
            </mat-expansion-panel-header>
                <ui-administration-unit-features-list-view>
                </ui-administration-unit-features-list-view>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
</form>


