<form [formGroup]="EditForm" xmlns="http://www.w3.org/1999/html">
<mat-tab-group>
  <mat-tab label="Stammdaten">
    <ng-template matTabContent>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 3em">
        <div fxFlex="7%">
            <mat-form-field  style="width: 100%">
              <mat-label>Schlüssel</mat-label>
              <input matInput formControlName="UserKey" placeholder="Bezeichnung"  >
            </mat-form-field>
          <mat-error *ngIf="Errors?.AdminUnitUserKeyrequired" >
            {{ Errors?.AdminUnitUserKeyrequired }}
          </mat-error>
          <mat-error *ngIf="Errors?.AdminUnitUserKeymaxlength" >
            {{ Errors?.AdminUnitUserKeymaxlength }}
          </mat-error>
        </div>
        <div fxFlex="46%">
            <mat-form-field style="width: 100%">
              <mat-label>Bezeichnung</mat-label>
              <input matInput formControlName="Title" type="text">
            </mat-form-field>
          <mat-error *ngIf="Errors?.AdminUnitTitlerequired" >
            {{ Errors?.AdminUnitTitlerequired }}
          </mat-error>
          <mat-error *ngIf="Errors?.AdminUnitTitlemaxlength" >
            {{ Errors?.AdminUnitTitlemaxlength }}
          </mat-error>
          </div>
        <div fxFlex="33%">
            <ui-datepicker [YearOfConstruction]="EditForm.get(['YearOfConstruction'])" ></ui-datepicker>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Eingänge">
    <ng-template matTabContent>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 3em">
         <div formArrayName="Entrances" fx="100%">
           <div *ngFor="let control of Entrances.controls; index as i; last as l"
             [formGroupName]="i"
             class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
              <div fxFlex="6%">
                <mat-form-field style="width: 100%">
                  <mat-label>Bezeichnung</mat-label>
                  <input matInput formControlName="Title" placeholder="{{i+1}} Eingang" >
                </mat-form-field>
              </div>
              <div fxFlex="88%">
                <ui-address
                  [AddressFormGroup] = "EditForm.get(['Entrances',i,'Address' ])"
                  [CountryFormGroup] = "EditForm.get(['Entrances',i, 'Address','Country'])"
                  [Iso2Control] = "EditForm.get(['Entrances',i,'Address','Country','Iso2'])"
                  [CityControl] = "EditForm.get(['Entrances',i,'Address','City'])"
                  [StreetControl] = "EditForm.get(['Entrances',i,'Address','Street'])"
                  [NumberControl] = "EditForm.get(['Entrances',i,'Address','Number'])"
                  [PostalCodeControl] = "EditForm.get(['Entrances', i, 'Address', 'PostalCode'])">
                </ui-address>
              </div>
             <div fxLayout="row" fxLayoutWrap fxLayoutGap="2%" class="container"  fxLayoutAlign="left" fxFlex="10%" fxLayout.xs="column">
              <div *ngIf="l" fxFlex="50%">
                <button  (click)="addEntrancesControl()" style="width: 100%; margin-top: 0.25em;" type="button" class="ui button"> + </button>
              </div>
              <div *ngIf="Entrances.length!==1" fxFlex="50%">
                <button  (click)="removeEntrancesControl(i)" style="width: 100%; margin-top: 0.25em;" type="button" class="ui button"> - </button>
              </div>
             </div>
           </div>
           <div *ngIf="Errors?.EntranceTitlerequired" class="ui negative message">
             {{ Errors?.EntranceTitlerequired }}
           </div>
           <div *ngIf="Errors?.EntranceTitlemaxlength" class="ui negative message">
             {{ Errors?.EntranceTitlemaxlength }}
           </div>
           <div *ngIf="Errors?.AddressPostalCode" class="ui negative message">
             {{ Errors?.AddressPostalCode }}
           </div>
           <div *ngIf="Errors?.AddressCityrequired" class="ui negative message">
             {{ Errors?.AddressCityrequired }}
           </div>
           <div *ngIf="Errors?.AddressCitymaxlength" class="ui negative message">
             {{ Errors?.AddressCitymaxlength }}
           </div>
           <div *ngIf="Errors?.AddressStreetrequired" class="ui negative message">
             {{ Errors?.AddressStreetrequired }}
           </div>
           <div *ngIf="Errors?.AddressStreetmaxlength" class="ui negative message">
             {{ Errors?.AddressStreetmaxlength }}
           </div>
           <div *ngIf="Errors?.AddressNumberrequired" class="ui negative message">
             {{ Errors?.AddressNumberrequired }}
           </div>
           <div *ngIf="Errors?.AddressNumbermaxlength" class="ui negative message">
             {{ Errors?.AddressNumbermaxlength }}
           </div>
         </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Verwaltungseinheiten">
    <ng-template matTabContent>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 3em">
        <div formArrayName="SubUnitsControls" fx="100%" *ngIf="SubUnitsArray">
          <div *ngFor="let control of SubUnitsArray.controls; index as i; last as l"
               [formGroupName]="i"
               class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
            <ui-subinit-create class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left"
            [Title]="SubUnitsArray.get([i,'Title'])"
            [Number]="SubUnitsArray.get([i,'Number'])"
            [Type]="SubUnitsArray.get([i,'Type'])"
            [Entrances] = "EditForm.value.Entrances"
            [Floor] = "SubUnitsArray.get([i,'Floor'])"
            [ArrayLastElement] = "l"
            [Entrance] = "SubUnitsArray.get([i,'Entrance'])"
            (addSubUnit) = "addSubUnitsArrayControl()"
            (removeSubUnitControl) = "removeSubUnitsArryControl(i)">
            </ui-subinit-create>
          </div>
        </div>
      </div>
      <mat-accordion style="margin-top: 3em;">
        <mat-expansion-panel id="SubUnitsPanel">
          <mat-expansion-panel-header>
              Vorhandene Verwaltungseinheiten
          </mat-expansion-panel-header>
            <ui-subinit-list-view
              [SubUnits] = "SubUnits">
            </ui-subinit-list-view>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </mat-tab>
  <mat-tab label="Zusatzeigenschaften">
    <ng-template matTabContent>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" style="margin-top: 3em">
        <div formArrayName="AdministrationUnitProperties" fx="100%" *ngIf = "EditForm.get(['AdministrationUnitProperties']) !== null">
          <div *ngFor="let control of Properties.controls; index as i; last as l"
               [formGroupName]="i"
               class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
            <ui-administration-unit-property class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left"
              [Value] = "EditForm.get(['AdministrationUnitProperties',i,'Value' ])"
              [Title] = "EditForm.get(['AdministrationUnitProperties',i,'Title' ])"
              [Tag] = "EditForm.get(['AdministrationUnitProperties',i,'Value', 'Tag' ])"
              [Raw] = "EditForm.get(['AdministrationUnitProperties',i,'Value', 'Raw' ])"
              [RawNumber] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber'])"
              [RawNumberUnit] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber', '_unit'])"
              [RawNumberValue] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber', '_value'])"
              [RawNumberDecimalPlaces] = "EditForm.get(['AdministrationUnitProperties', i, 'Value', 'RawNumber', '_decimalPlaces'])"
              [Description] = "EditForm.get(['AdministrationUnitProperties',i,'Description' ])"
              [ArrayLastElement] = "l"
              (addPropertiesControl) = "addPropertiesControl()"
              (removePropertiesControl) = "removePropertiesControl(i)"
              (selectedValueTag) = "selectedValueTag($event, i)">
            </ui-administration-unit-property>
          </div>
          <div *ngIf="Errors?.PropertyTitlerequired" class="ui negative message">
            {{ Errors?.PropertyTitlerequired }}
          </div>
          <div *ngIf="Errors?.PropertyValueTagrequired" class="ui negative message">
            {{ Errors?.PropertyValueTagrequired }}
          </div>
          <div *ngIf="Errors?.PropertyValueRawrequired" class="ui negative message">
            {{ Errors?.PropertyValueRawrequired }}
          </div>
        </div>
      </div>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left" fxFlex="50">
        <div fxFlex="50" *ngIf ="IsUpdatingAdminUnit && !ShowPropertiesForAllAdministrationUnits">
          <button
            mat-raised-button
            (click)="onShowPropertiesForAllAdministrationUnits()">Zusatzfelder für alle/selektierte Objekte anlegen
          </button>
        </div>
        <div fxFlex="50" *ngIf ="IsUpdatingAdminUnit && ShowPropertiesForAllAdministrationUnits">
          <button
            mat-raised-button
            (click)="onShowPropertiesForAllAdministrationUnits()">Zusatzfelder für alle/selektierte Objekte verbergen
          </button>
        </div>
        <div fxFlex="50">
           <button mat-raised-button (click)="addPropertiesArray()"  *ngIf = "EditForm.get(['AdministrationUnitProperties']) === null">Zusaztfelder für dieses Objekt anlegen</button>
        </div>
      </div>
      <div style="margin-top: 2em" *ngIf = "ShowPropertiesForAllAdministrationUnits">
        <ui-administration-unit-feature-create
          (refreshProperty)="refreshProperties()">
        </ui-administration-unit-feature-create>
        <mat-accordion>
          <mat-expansion-panel id="AdmiUnitsFeaturesPanel">
            <mat-expansion-panel-header>
              <mat-panel-title
                    matTooltip="Ein neu angelegtes Objekt wird automatisch mit diesen Zusatzfeldern angereichert"
                    [matTooltipPosition]="'above'">
                Vorhandene Zusatzfelder aller Objekte
              </mat-panel-title>
            </mat-expansion-panel-header>
                <ui-administration-unit-features-list-view>
                </ui-administration-unit-features-list-view>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
</form>


