<mat-form-field appearance="outline" style="width: 50%">
  <mat-label>Baujahr</mat-label>
  <input matInput [matDatepicker]="dp" placeholder="Monat/Jahr" [formControl]="YearOfConstruction">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>

