<div>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef> Titel </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef> Beschreibung </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Tag">
      <mat-header-cell *matHeaderCellDef> Datentyp </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Tag}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="TypedValueDecimalPlace">
      <mat-header-cell *matHeaderCellDef> Zahl der Nachkommastellen </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.TypedValueDecimalPlace}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="TypedValueUnit">
      <mat-header-cell *matHeaderCellDef> Maßeinheit </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.TypedValueUnit}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [class.selected] = "selection.isSelected(row)"
             (mouseover)="selection.select(row)"
             (mouseleave)="selection.deselect(row)"
             (click)="selectRow(row)">
    </mat-row>
  </mat-table>
</div>
